/* set vars */
:root {
    --main-theme: rgb(241, 184, 191);
    --alt-theme: rgb(248, 67, 127);
    --bg-color: rgb(20, 20, 20);
    --main-font-fam: 'Roboto', sans-serif;
}

/* preset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font-fam);
    background-color: var(--bg-color);
}

/* note */
.note p {
    background-color: var(--main-theme);
    font-size: 0.7rem;
    text-align: center;
    font-weight: 300;
    padding: 15px 25px;
}

.note {
    margin: 1px;
}

/* main body */
.container {
    border: 10px solid var(--alt-theme);
}

/* nav-bar */
.navbar {
    background-color: var(--bg-color);
    display: flex;
    position: sticky;
    position:-webkit-sticky;
    top: 0;
}
.navbar .nav ul {
    list-style-type: none;
    display: flex;
}
.navbar .nav ul li {flex: 1;}
.navbar .nav ul li a, .nav.btn-right a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--main-theme);
    height: 100%;
    font-weight: 500;
    padding: 30px 0;
    transition: color 0.3s;
}
.navbar .nav ul li a:hover, .nav.btn-right a:hover, .nav.btn-right a:active {
    color: var(--alt-theme);
}

.logo {
    padding: 20px 0;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: var(--main-theme);
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 2.5rem;
    border: 5px solid var(--main-theme);
    padding: 0 8px;
}
.navbar .nav ul li.btn{
    display: none;
}
.navbar .nav ul li.btn-left{
    display: block;
}
.navbar .nav .btn-left a{
    float: left;
    margin-left: 25px;
    font-size: 1.5rem;
}

.navbar .nav.btn-right a{
    float: right;
    margin-right: 25px;
    font-size: 1.125rem;
}

.navbar .nav.btn-right sup{
    background-color: var(--main-theme);
    color: var(--bg-color);
    border-radius: 50%;
    padding: 0 4px;
    transition: 0.3s;
}
.nav.btn-right a:hover > sup {
    background-color: var(--alt-theme);
}
.nav {
    flex: 1;
}
.logo {
    flex: 1;
}
.dropdown {
    position: relative;
}
.dropdown-contents {
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 60px;
    left: 25px;
    background-color: black;
    display: none;
}
.dropdown a i {
    padding: 5px;
    font-size: 0.8rem;
}
.navbar .nav ul li.dropdown .dropdown-contents a {
    padding: 10px;
}

.dropdown:hover > .dropdown-contents {
    display: block;
}

/*flex-row*/
.flex-row {
    padding: 15px;
}
.flex-row .col .card {
    text-align: center;
    margin: 25px 0;
}
.flex-row .col .card img {
    background-color: var(--main-theme);
    width: 75%;
    height: 100%;
}

.flex-row .col .card p {
    color: var(--main-theme);
    font-weight: 500;
    margin: 15px;
}
/* footer */
.footer {
    margin: 50px 0;
}

.footer .social ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.footer .social ul li a {
    padding: 0 15px;
    font-size: 1.5rem;
    color: var(--main-theme);
    transition: color 0.3s;
}
.footer .social ul li a:hover {
    color: var(--alt-theme);
}

.footer .copyright p {
    color: var(--main-theme);
    text-align: center;
    padding: 30px 0;
    font-size: 0.8rem;
    font-weight: 600;
}

.footer .sitemap ul {
    list-style-type: none;
    text-align: center;
}

.footer .sitemap ul li a {
    text-decoration: none;
    padding: 0 15px;
    color: var(--alt-theme);
    font-size: 0.7rem;
    font-weight: 600;
}
/* mobile nav bar */
.m-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}
.m-sidebar .m-navbar {
    background-color: black;
    width: 45%;
    height: 100%;
    position: relative;
    overflow: auto;
}
.m-sidebar .m-navbar .close-btn i {
    display: block;
    color: var(--main-theme);
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 4.5vw;
    cursor: pointer;
}

.m-sidebar .m-navbar .close-btn i:active {
    color: var(--alt-theme);
}

.m-sidebar .m-navbar .m-nav ul {
    list-style-type: none;
    padding: 100px 35px;
}
.m-sidebar .m-navbar .m-nav ul li a{
    display: block;
    text-decoration: none;
    color: var(--main-theme);
    font-size: 4vw;
    font-weight: 600;
    padding: 5px 0;
}
.m-sidebar .m-navbar .m-nav ul li a:hover, .m-sidebar .m-navbar .m-nav ul li a:active{
    color: var(--alt-theme);
}
.m-sidebar .m-navbar .m-nav ul li a i{
    padding: 0 0.5vw;
    font-size: 2vw;
}
.m-sidebar .m-navbar .m-nav ul li .m-dropdown-contents a {
    margin-left: 10px;
    font-size: 3.5vw;
    font-weight: 400;
}
.m-dropdown-contents {
    display: none;
}

@media screen and (min-width: 725px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row .col {
        flex: 50%;
    }
    .footer .sitemap ul {
        display: flex;
        justify-content: center;
    }
    .footer .sitemap ul li:not(li:last-child)::after {
        content : "l";
        color: white;
    }
}


@media screen and (min-width: 1000px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row .col {
        flex: 25%;
    }
    .navbar .nav ul li.btn {
        display: block;
    }
    .navbar .nav ul li.btn-left {
        display: none;
    }
}

@media screen and (max-width: 600px){
    .logo a{
        font-size: 1.75rem;
    }
    .logo {
        padding: 30px 0;
    }
    .navbar .nav .btn-left a{
        margin-left: 2.5vw;
        font-size: 5vw;
    }
    
    .navbar .nav.btn-right a{
        margin-right: 2.5vw;
        font-size: 4vw;
    }
    .footer .copyright p {
        font-size: 0.65rem;
    }
}